<div class="container-sm" style="max-width: 960px; margin-bottom: 200px;">
  <div class="row">
    <h2>Información</h2>
    <hr>
    <div class="col-lg-6 col-sm-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat elementum nibh eu egestas. Donec mauris libero, convallis nec aliquam nec, egestas eget sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In aliquam magna tempus tellus elementum rutrum. Cras lobortis id enim quis dictum. Sed quis scelerisque neque, auctor tempor tellus. Nullam aliquet lacus diam, vitae vehicula mauris finibus ac. Sed id dui sit amet mi rutrum ultricies. Phasellus malesuada dui sapien, in congue ex mattis eu. Sed tempor molestie risus, nec malesuada lorem dignissim a. Pellentesque elementum nunc accumsan viverra sodales.

        Vestibulum sed sem vel est lacinia gravida. Nullam vel tristique metus. Praesent fringilla neque nulla, id scelerisque urna maximus vel. Suspendisse in varius turpis, id imperdiet orci. Nunc pharetra eu sem eu blandit. Nunc ac dapibus mauris, eget aliquet ante. Cras interdum, magna imperdiet consectetur molestie, lorem nisl aliquet ante, ut facilisis metus ex bibendum lectus. Proin pharetra porta ultricies. Ut a nibh id sapien facilisis imperdiet vel ac quam. Fusce vitae facilisis eros.

        Ut ornare augue et ipsum semper, sed pulvinar lacus malesuada. Donec tortor est, lacinia et semper ac, pretium ut sem. Vestibulum et dolor aliquam elit porttitor ultricies dictum at arcu. Etiam pretium lacinia metus vel posuere. Sed dapibus erat quis libero porta eleifend. Etiam fermentum, sapien feugiat lobortis facilisis, velit magna suscipit velit, eget varius velit enim id augue. Sed commodo nibh eget velit facilisis feugiat. Quisque turpis neque, ornare volutpat ex nec, tempus varius neque. Cras lacinia gravida leo, ut semper orci pharetra sed. Ut facilisis lacus ligula, ac maximus massa maximus sed. Duis efficitur erat vitae massa ullamcorper sodales. Integer ultrices massa sed posuere tempor. Suspendisse sit amet tincidunt sem, vel aliquam mauris. In ut elit est. Aliquam eget est venenatis, aliquam justo ut, malesuada ante. Maecenas mi lorem, porttitor id ullamcorper vitae, euismod et mauris.

        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean quis lacinia eros. Duis a turpis non tortor accumsan consectetur id sed risus. Proin sodales at purus a ultricies. Fusce ullamcorper quam sit amet nisi convallis, quis tempor eros fermentum. Vestibulum vulputate lorem in elementum eleifend. Praesent consequat placerat felis eget faucibus. Nulla id nisi gravida, ultrices neque quis, convallis odio. Aliquam sodales velit leo, condimentum congue turpis ullamcorper nec. Morbi nec pharetra risus. Nam luctus sed risus nec auctor. Curabitur vestibulum nec nunc vel varius. Mauris at pellentesque ante, vitae feugiat sapien. Sed id molestie ipsum, id ultricies eros.

        Donec varius purus a dictum volutpat. Praesent eu lacinia dolor. Vivamus vel facilisis felis. Suspendisse sodales lectus finibus massa tempus dignissim. Phasellus at rutrum nulla. Nam nulla augue, tempor eu ligula eget, sollicitudin mollis urna. Donec fermentum justo enim, ac posuere urna facilisis eu. Duis in blandit libero, eget rutrum turpis.
      </p>
    </div>
    <div class="col-lg-6 col-sm-6">
      <img src="assets/almacen.png" class="img-fluid">
    </div>
  </div>
</div>

